/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}

.tabHeader {
  background-image: url("https://media-exp1.licdn.com/dms/image/C4D0BAQEJC7BN3dBWxw/company-logo_100_100/0/1617453666937?e=1637193600&amp;v=beta&amp;t=lj5JbZJsqi3lJFOxL9GxYb172vZ4peZbzctYZt5enP8");
}
